:root{
    --header: rgb(5, 16, 158);
    --banner: rgb(192, 208, 247);
    --text: rgb(255, 255, 255);
    font-family: Helvetica;
}

.h2{
    text-align: center;
}

.hr{
    height: 18px;
    width: 400px;
    background-color: var(--banner)
}

.hr-white{
    height: 30px;
    width: 450px;
    background-color: white;
    margin: auto;
}

header {
    height: 65px;
    width: 100%;
    background-color: var(--header);
    color: var(--text);
    border-style: solid;
    border-color: black;
    text-align: center;
}

.d-flex{
    display: flex;
    justify-content: center;
}

.text{
    width: 450px;
}

footer{
    height: 200px;
    width: 100%;
    display: flex;
    bottom: 0;
    border-style: solid;
    background-color: var(--header);
}